<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="PlantenServiceLibrary.PlantenService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/PlantenService"/>
            <add baseAddress="net.tcp://localhost:809/PlantenService"/>
            <add baseAddress="http://localhost:8733/PlantenService"/>
          </baseAddresses>
        </host>
        <endpoint binding="netNamedPipeBinding"
      contract="PlantenServiceLibrary.IPlantenService" name="namedPipePlanten"/>
        <endpoint address="mex" binding="mexNamedPipeBinding"
        contract="IMetadataExchange" name="namedPipePlantenMEX"/>
        <endpoint binding="netTcpBinding"
        contract="PlantenServiceLibrary.IPlantenService" name="tcpPlanten"/>
        <endpoint address="mex" binding="mexTcpBinding"
        contract="IMetadataExchange" name="tcpPlantenMEX"/>
        <endpoint binding="wsHttpBinding"
        contract="PlantenServiceLibrary.IPlantenService" name="httpPlanten"/>
        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" name="httpPlantenMEX"/>
      </service>
    </services>  
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
