@charset "utf-8";
/* CSS Document voor deGazet*/

/* basis 1em = 16px
4px = 0.25em
6 = 0.375em
8 = 0.5em
10 = 0.625em
12 = 0.75em
14 = 0.875em
18 = 1.125em
20 = 1.25em
22 = 1.375em
24 = 1.5em
32 = 2em
100 = 6.25em;
*/

/* NORMALIZE */
html, body, div, section, article, aside, nav {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    float: left;
    margin: 0 1.25em 0.5em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: hide;
}

tr, td {
    margin: 0;
    padding: 0;
}

/* TYPOGRAFIE */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a, a:visited {
    text-decoration: underline;
}

    a:hover, a:active {
        text-decoration: underline;
    }

/* KLEURENSCHEMAS */
body {
    background-color: white;
    color: #333;
}

#topbanner, footer {
    background-color: #EDEDED;
}

.nieuws h1, .nieuws h2, .nieuws h3, .nieuws h4, .nieuws h5, .nieuws h6 {
    color: #005689;
}

.nieuws a, .nieuws a:visited, .nieuws a:hover, .nieuws a:active {
    color: #005689;
}

/**** STRUCTUUR EN LAY-OUT ****/
/* deze oef gaat door een aantal stadia:
1. FIXED LAY-OUT: 980px container, basis 5 kol
*/
.wikkel {
    width: 980px;
    margin: 0 auto;
}

header {
    padding-top: 0.375em; /* 6px */
}

section, aside {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

article {
    margin: 0 20px 0 0; /* gutter */
    padding: 0.375em 0 1.25em; /* 6px 20px */
}

    article p {
        margin: 0;
        padding: 0 0 0.75em 0; /* 12px */
    }

    article h2 {
        margin: 0.375em 0; /* 6px */
    }

/****GRID****/
.span1 {
    width: 196px;
    float: left;
}

.span2 {
    width: 392px;
    float: left;
}

.span3 {
    width: 588px;
    float: left;
}

.span4 {
    width: 784px;
    float: left;
}

.span5 {
    width: 980px;
    float: left;
}

    .span5 > article {
        margin-right: 0; /* geen gutter in span5*/
    }

    .span5 > h2 {
        margin-right: 0; /* geen gutter in span5*/
    }

/*
clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}
/* enkel voor IE6/7 */
.clearFix {
    *zoom: 1;
}

/**** ARTICLE en SECTION OPMAAK ****/
/* duidelijke grijze titel, rode bovenrand */
.metTitel {
    padding-top: 0;
}

    .metTitel > h2 {
        background: #EDEDED;
        border-top: 3px solid #D61D00;
        margin: 0 20px 0.8em 0;
        padding: 0.8em 0 0.8em 0.4em;
    }

/* verborgen titel, enkel voor outline */
.zonderTitel > h2 {
    display: none;
}

article.toparticle > h2 {
    font-size: 1.5em; /*24px*/
}

#andernieuws article > h2 {
    font-size: 1.125em; /*18px*/
    margin: 0.125em 0; /*4px*/
}

/**** TOPMENU ****/
#topmenu {
    text-align: right;
}

#topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topmenu ul li {
    display: inline;
}

#topmenu ul li a {
    display: inline-block;
}

#topmenu ul li a {
    display: inline-block;
    width: 7em;
    padding: 0.2em;
    font-size: 0.8em;
    font-style: italic;
    color: #499BAB;
    text-decoration: none;
}

#topmenu ul li a:hover, #topmenu ul li a:active {
    color: #005689;
    text-decoration: none;
}

/**** EXTRAMENU ****/
#extramenu {
    border-bottom: 1px solid #bebebe;
    height: 1.375em;
}

    #extramenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#extramenu ul li {
    display: inline;
}

#extramenu ul li a {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.2em;
    color: #cccccc;
    text-decoration: none;
}

#extramenu ul li a:hover, #topmenu ul li a:active {
    color: #505050;
    text-decoration: none;
}

#hoofdmenu {
    background: #ededed;
}

#hoofdmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

#hoofdmenu ul li {
    float: left;
}

#hoofdmenu ul li a {
    display: block;
    padding: 0.375em 0.5em; /*6px 8px*/
    border-right: 1px solid #b1b1b1;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #005689;
}

#hoofdmenu ul li a:hover,
#hoofdmenu ul li a:active,
#hoofdmenu ul li a.actief {
    text-decoration: none;
    background: #D61D00;
    color: white;
}

/* Logo image replacement
#logo = h1
*/
#logo a {
    display: block;
    width: 346px;
    height: 77px;
    margin: 14px 0 20px 0;
    padding: 0;
    background: transparent url(../img/degazet.png) no-repeat;
    text-indent: -99999px;
}

/**** BORDERS ****/
/* default kleur rood */
.bt8 {border-top:8px solid #D61D00;}
.bt3 {border-top:3px solid #D61D00;}
.bb8 {border-bottom:8px solid #D61D00;}
.bb3 {border-bottom:3px solid #D61D00;}
