<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="NewBinding1">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="BierenService.svc"
             service="BierenServiceLibrary.BierenService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="BierenServiceLibrary.BierenService">
        <endpoint binding="wsHttpBinding"
                  contract="BierenServiceLibrary.IBierenService" name="httpBieren" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
                  name="httpBierenMEX" />
        <endpoint binding="netNamedPipeBinding"
                  contract="BierenServiceLibrary.IBierenService" name="namedPipeBieren" />
        <endpoint address="mex" binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" name="namedPipeBierenMEX" />
        <endpoint binding="netTcpBinding"
                  contract="BierenServiceLibrary.IBierenService" name="tcpBieren" />
        <endpoint address="mex" binding="mexTcpBinding"
                  contract="IMetadataExchange" name="tcpBierenMEX" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>