<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="BierenServiceLibrary.BierenService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/BierenService"/> 
            <add baseAddress="net.tcp://localhost/BierenService"/> 
            <add baseAddress="http://localhost:8732/BierenService"/> 
          </baseAddresses>
        </host>
        <endpoint binding="netNamedPipeBinding"
        contract="BierenServiceLibrary.IBierenService" name="namedPipeBieren"/>
        <endpoint address="mex" binding="mexNamedPipeBinding"
        contract="IMetadataExchange" name="namedPipeBierenMEX"/>
        <endpoint binding="netTcpBinding"
        contract="BierenServiceLibrary.IBierenService" name="tcpBieren"/>
        <endpoint address="mex" binding="mexTcpBinding"
        contract="IMetadataExchange" name="tcpBierenMEX"/>
        <endpoint binding="wsHttpBinding"
        contract="BierenServiceLibrary.IBierenService" name="httpBieren"/>
        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" name="httpBierenMEX"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>