@Model MVC_Security.Models.ApplicationUser
@{
    ViewBag.Title = "VerwijderUser";
}

<h2>@Model.UserName Verwijderen?</h2>
<form method="POST" action="~/User/VerwijderUserDoorvoeren/@Model.Id">
    <input type="submit" value="Delete"/>
</form>

