<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Tuincentrum" connectionString="server=.\sqlexpress;database=Tuincentrum;integrated security=true"
      providerName="System.Data.SqlClient" />
    <add name="WpfOpgave3.Properties.Settings.TuincentrumConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=Tuincentrum;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>