<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Bieren" connectionString="server=.\sqlexpress;database=bieren;integrated security=true"
         providerName="System.Data.SqlClient" />
    <!--<add name="Bieren" connectionString="provider=Microsoft.ACE.OLEDB.12.0: data source=c:\oefen\bieren.mdb"
          providerName="System.Data.OleDb"/>-->
    <add name="Bank" connectionString="server=.\sqlexpress;database=Bank;integrated security=true"
         providerName="System.Data.SqlClient" />
    <add name="Bank2" connectionString="server=.\sqlexpress;database=Bank2;integrated security=true"
         providerName="System.Data.SqlClient" />
    <add name="strips" connectionString="server=.\sqlexpress;database=strips;integrated security=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>