@model List<MVC_Voorbeeld2.Models.Werknemer>

@{
    ViewBag.Title = "AlleWerknemers";
}

<h2>AlleWerknemers</h2>
<ul>
    @foreach ( var werknemer in Model )
    {
    <li>@werknemer.Voornaam verdient @werknemer.Wedde</li>
    }
</ul>

