<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="namedPipeBieren" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="tcpBieren" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="httpBieren" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BierenServiceHost/BierenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpBieren"
                contract="BierenServiceReference.IBierenService" name="httpBieren">
                <identity>
                    <servicePrincipalName value="host/L116-PC06.vdabgenk.be" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://l116-pc06.vdabgenk.be/BierenServiceHost/BierenService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="namedPipeBieren"
                contract="BierenServiceReference.IBierenService" name="namedPipeBieren">
                <identity>
                    <servicePrincipalName value="host/L116-PC06.vdabgenk.be" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://l116-pc06.vdabgenk.be/BierenServiceHost/BierenService.svc"
                binding="netTcpBinding" bindingConfiguration="tcpBieren" contract="BierenServiceReference.IBierenService"
                name="tcpBieren">
                <identity>
                    <servicePrincipalName value="host/L116-PC06.vdabgenk.be" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>